reverse-proxy:
    build: .
    ports:
        - "80:80"
    links:
        - ildh
        - fluidproject
{% for container in static_containers %}
{{ container.name }}:
    image: {{ container.image }}
{% endfor %}
