reverse-proxy:
    build: .
    ports:
        - "80:80"
    links:
{% for container in static_containers %}
        - {{ container.name }}
{% endfor %}
{% for container in static_containers %}
{{ container.name }}:
    image: {{ container.image }}
{% endfor %}
